{% extends 'template.html' %}
{% block heading %}{{ track.title }}{% endblock %}
{% block content %}

    <div class="container">
        <h2 class="center">{{ track.title }}</h2>
        <p><strong>Description: </strong>{{ track.description }}</p>
        <p><strong>Genre: </strong>{{ track.genre }}</p>
        <p><strong>Author: </strong><a href="{{ track.author.get_absolute_url }}">{{ track.author }}</a></p>
        <p><strong>Play: </strong>
            {% if track.audio %}<audio controls preload="metadata" id="track-med" src="{{ track.audio.url }}"></audio></p>{% endif %}
        <p><strong>Pubdate: </strong>{{ track.pubdate }}</p>
    </div>
{% endblock %}